footer{
    margin-top: 7rem;
    .smLogoContainer{
        display: flex;
        justify-content: center;
        column-gap: 1rem;
        .socialMedia{
            border-radius: 1rem;
            width: 2rem;
            height: 2rem;
            background: white;
            background: linear-gradient(145deg, #e6e6e6, #ffffff);
            box-shadow:  2px 2px 4px #d9d9d9,
                            -2px -2px 4px #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 1rem;
            i{
                color: $Blue;
                width: 100%;
            }
        }
    }
    p{
        color: $Gray;
        text-align: center;
        font-size: .7rem;
        padding-top: 2rem;
    }
}