footer{
    .smLogoContainer{
        display: flex;
        // margin: 0 auto;
        // width: 37%;
        .socialMedia{
            border: 1px solid $paleBlue;
            border-radius: 1rem;
            width: 2rem;
            height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            // padding: .6rem;
            column-gap: 1rem;
            i{
                color: $Blue;
                width: 100%;
            }
        }
    }
}