section{
    padding: 2rem 0;
    .logoContainer{
        display: flex;
        justify-content: center;
    }
    .introText{
        // width: 90%;
        margin: 2rem auto;
        text-align: center;
        h3{
            font-weight: 300;
            font-size: 1.3rem;
            color: $Gray;
            span{
                font-weight: 700;
                font-size: 1.3rem;
                color: $veryDarkBlue;
            }
        }
        p{
            font-size: .7rem;
            padding-top: .5rem;
            word-spacing: .1rem;   
        }
    }

    form{
        .inputContainer{
            input{
                width: 100%;
                border-radius: 1.5rem;
                border: 1px solid $paleBlue;
                padding-top: .5rem;
                padding-bottom: .5rem;
                padding-left: 1rem;
                padding-right: 5rem;
            }
            p{
                display: none;
            }
        }

        .btnContainer{
                button{
                    width: 100%;
                    margin: 1rem auto;
                    // margin-top: 1rem;
                    padding-top: .5rem;
                    padding-bottom: .5rem;
                    border-radius: 1.5rem;
                    border: none;
                    background-color: $Blue;
                    color: white;
                    text-align: center;
                    box-shadow: $Blue 0px 13px 21px -14px;
                    transition: .4s ease;
                    &:hover{
                        opacity: .87;
                    }
                }
        }
    }

    .imgContainer{
        width: 100%;
        margin: 4rem auto;
        img{
            width: 100%;
        }
    }
}